<%- include('../partials/headParte1') %>
<!--Aqui se agregan los estilos personales-->
<link rel="stylesheet" href="../css/books.css">

<%- include('../partials/headParte2') %>

<%- include('../partials/header') %>

<main>
    <h2>Productos</h2>
    <section class="estanteria">
        <article class="libro">
            <a href="/products/details">
                <div class="libro-portada">
                    <img src="../img/codigoFuturo.jpg" alt="Codigo futuro">
                </div>
                <div class="libro-titulo">
                    <h3>Codigo FuturoCodigo FuturoCodigo FuturoCodigo Futuro</h3>
                </div>
            </a>
        </article>
        <article class="libro">
            <a href="/products/details">
                <div class="libro-portada">
                    <img src="../img/codigoFuturo.jpg" alt="Codigo futuro">
                </div>
                <div class="libro-titulo">
                    <h3>Codigo Futuro</h3>
                </div>
            </a>
        </article>
        <article class="libro">
            <a href="/products/details">
                <div class="libro-portada">
                    <img src="../img/codigoFuturo.jpg" alt="Codigo futuro">
                </div>
                <div class="libro-titulo">
                    <h3>Codigo Futuro</h3>
                </div>
            </a>
        </article>
        <article class="libro">
            <a href="/products/details">
                <div class="libro-portada">
                    <img src="../img/codigoFuturo.jpg" alt="Codigo futuro">
                </div>
                <div class="libro-titulo">
                    <h3>Codigo Futuro</h3>
                </div>
            </a>
        </article>
        <article class="libro">
            <a href="/products/details">
                <div class="libro-portada">
                    <img src="../img/codigoFuturo.jpg" alt="Codigo futuro">
                </div>
                <div class="libro-titulo">
                    <h3>Codigo Futuro</h3>
                </div>
            </a>
        </article>
    </section>

    <h2>OTRA FORMA</h2>

    <div class="container">
        <article class="book">
            <div class="card3">
                <div class="imgBx">
                    <img src="../img/codigoFuturo.jpg" alt="Titulo del libro">
                </div>
                <div class="content">
                    <div class="details">
                        <!-- <h2>Resumen</h2> -->
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis velit 
                            fugiat natus est excepturi saepe mollitia architecto modi accusamus.
                        </p>
                        <a href="/products/details">Ver m치s</a>
                    </div>
                </div>
            </div>
            <h2>Codigo Futuro</h2>
        </article>
        <article class="book">
            <div class="card3">
                <div class="imgBx">
                    <img src="../img/codigoFuturo.jpg" alt="Titulo del libro">
                </div>
                <div class="content">
                    <div class="details">
                        <!-- <h2>Resumen</h2> -->
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis velit 
                            fugiat natus est excepturi saepe mollitia architecto modi accusamus.
                        </p>
                        <a href="/products/details">Ver m치s</a>
                    </div>
                </div>
            </div>
            <h2>Codigo Futuro</h2>
        </article>
        <article class="book">
            <div class="card3">
                <div class="imgBx">
                    <img src="../img/codigoFuturo.jpg" alt="Titulo del libro">
                </div>
                <div class="content">
                    <div class="details">
                        <!-- <h2>Resumen</h2> -->
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis velit 
                            fugiat natus est excepturi saepe mollitia architecto modi accusamus.
                        </p>
                        <a href="/products/details">Ver m치s</a>
                    </div>
                </div>
            </div>
            <h2>Codigo Futuro</h2>
        </article>
        <article class="book">
            <div class="card3">
                <div class="imgBx">
                    <img src="../img/codigoFuturo.jpg" alt="Titulo del libro">
                </div>
                <div class="content">
                    <div class="details">
                        <!-- <h2>Resumen</h2> -->
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis velit 
                            fugiat natus est excepturi saepe mollitia architecto modi accusamus.
                        </p>
                        <a href="/products/details">Ver m치s</a>
                    </div>
                </div>
            </div>
            <h2>Codigo Futuro</h2>
        </article>
    </div>

    <br>
    <h2>OTRA FORMA</h2>

    <section class="libreria">
        <div class="card">
            <div class="face front">
                <img src="../img/codigoFuturo.jpg" alt="Nombre de la imagen">
                <h3>Codigo Futuro</h3>
            </div>
            <div class="face back">
                <h3>Codigo Futuro</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis sunt quasi, 
                    reprehenderit quibusdam nemo assumenda facilis iste magnam pariatur quam maxime 
                    vitae hic officiis maiores!
                </p>
                <div class="link">
                    <a href="/products/details">Details</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face front">
                <img src="../img/codigoFuturo.jpg" alt="Nombre de la imagen">
                <h3>Codigo Futuro</h3>
            </div>
            <div class="face back">
                <h3>Codigo Futuro</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis sunt quasi, 
                    reprehenderit quibusdam nemo assumenda facilis iste magnam pariatur quam maxime 
                    vitae hic officiis maiores!
                </p>
                <div class="link">
                    <a href="/products/details">Details</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face front">
                <img src="../img/codigoFuturo.jpg" alt="Nombre de la imagen">
                <h3>Codigo Futuro</h3>
            </div>
            <div class="face back">
                <h3>Codigo Futuro</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis sunt quasi, 
                    reprehenderit quibusdam nemo assumenda facilis iste magnam pariatur quam maxime 
                    vitae hic officiis maiores!
                </p>
                <div class="link">
                    <a href="/products/details">Details</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face front">
                <img src="../img/codigoFuturo.jpg" alt="Nombre de la imagen">
                <h3>Codigo Futuro</h3>
            </div>
            <div class="face back">
                <h3>Codigo Futuro</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis sunt quasi, 
                    reprehenderit quibusdam nemo assumenda facilis iste magnam pariatur quam maxime 
                    vitae hic officiis maiores!
                </p>
                <div class="link">
                    <a href="/products/details">Details</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face front">
                <img src="../img/codigoFuturo.jpg" alt="Nombre de la imagen">
                <h3>Codigo Futuro</h3>
            </div>
            <div class="face back">
                <h3>Codigo Futuro</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis sunt quasi, 
                    reprehenderit quibusdam nemo assumenda facilis iste magnam pariatur quam maxime 
                    vitae hic officiis maiores!
                </p>
                <div class="link">
                    <a href="/products/details">Details</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face front">
                <img src="../img/codigoFuturo.jpg" alt="Nombre de la imagen">
                <h3>Codigo Futuro</h3>
            </div>
            <div class="face back">
                <h3>Codigo Futuro</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis sunt quasi, 
                    reprehenderit quibusdam nemo assumenda facilis iste magnam pariatur quam maxime 
                    vitae hic officiis maiores!
                </p>
                <div class="link">
                    <a href="/products/details">Details</a>
                </div>
            </div>
        </div>
    </section>
</main>

<%- include('../partials/footer') %>