<%- include('../partials/headParte1') %>
<!--Aqui se agregan los estilos personales-->
<link rel="stylesheet" href="../css/books.css">

<%- include('../partials/headParte2') %>

<%- include('../partials/header') %>

<main>
    <h2>Listado de Productos</h2>

    <div class="container">
        <article class="book">
            <div class="card3">
                <div class="imgBx">
                    <img src="../img/codigoFuturo.jpg" alt="Titulo del libro">
                </div>
                <div class="content">
                    <div class="details">
                        <!-- <h2>Resumen</h2> -->
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis velit 
                            fugiat natus est excepturi saepe mollitia architecto modi accusamus.
                        </p>
                        <a href="/products/details">Ver m치s</a>
                    </div>
                </div>
            </div>
            <h2>Codigo Futuro</h2>
        </article>
        <article class="book">
            <div class="card3">
                <div class="imgBx">
                    <img src="../img/codigoFuturo.jpg" alt="Titulo del libro">
                </div>
                <div class="content">
                    <div class="details">
                        <!-- <h2>Resumen</h2> -->
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis velit 
                            fugiat natus est excepturi saepe mollitia architecto modi accusamus.
                        </p>
                        <a href="/products/details">Ver m치s</a>
                    </div>
                </div>
            </div>
            <h2>Codigo Futuro</h2>
        </article>
        <article class="book">
            <div class="card3">
                <div class="imgBx">
                    <img src="../img/codigoFuturo.jpg" alt="Titulo del libro">
                </div>
                <div class="content">
                    <div class="details">
                        <!-- <h2>Resumen</h2> -->
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis velit 
                            fugiat natus est excepturi saepe mollitia architecto modi accusamus.
                        </p>
                        <a href="/products/details">Ver m치s</a>
                    </div>
                </div>
            </div>
            <h2>Codigo Futuro</h2>
        </article>
        <article class="book">
            <div class="card3">
                <div class="imgBx">
                    <img src="../img/codigoFuturo.jpg" alt="Titulo del libro">
                </div>
                <div class="content">
                    <div class="details">
                        <!-- <h2>Resumen</h2> -->
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis velit 
                            fugiat natus est excepturi saepe mollitia architecto modi accusamus.
                        </p>
                        <a href="/products/details">Ver m치s</a>
                    </div>
                </div>
            </div>
            <h2>Codigo Futuro</h2>
        </article>
    </div>

</main>

<%- include('../partials/footer') %>