<%- include('../partials/headParte1') %>
<!--Aqui se agregan los estilos personales-->

<%- include('../partials/headParte2') %>

<%- include('../partials/header') %>

<main>
    <h1>Vista de todos los productos</h1>
</main>

<%- include('../partials/footer') %>