<%- include('../partials/headParte1') %>

<%- include('../partials/headParte2') %>

<%- include('../partials/header') %>

<main>
    <h1>Vista del formulario de un producto</h1>
</main>

<%- include('../partials/footer') %>