<%- include('../partials/headParte1') %>
<!--Aqui se agregan los estilos personales-->
<link rel="stylesheet" href="/css/orderDetail.css">

<%- include('../partials/headParte2') %>

<%- include('../partials/header') %>

<main>
    <div class="container">
        <section class="resumen">
            <h3>Resumen</h3>
            <div class="detResumen">
                <p>Total productos</p>
                <p>2</p>
            </div>
            <div class="detResumen">
                <p>Total del pedido</p>
                <p>$ 0.00</p>
            </div>
        </section>
        <section  class="info">
            <article class="detLibro">
                <div class="divImagen">
                    <div class="imagen">
                        <img src="/img/images.png" alt="img">
                    </div>
                </div>
                <div class="detalle">
                    <div>
                        <div class="titulo">
                            <h3>Titulo del libro</h3>
                        </div>
                        <div class="infoLibro">
                            <p>Autor: Nombre del autor</p>
                            <p>Tematica: Tematica</p>
                        </div>
                    </div>
                    <div class="iconos">
                        <div class="precio">
                            <p>$ 0.00</p>
                        </div>
                        <div class="cantidad">
                            <p>2</p>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>
</main>

<%- include('../partials/footer') %>