:root{
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde-pastel-claro: #CEE5D0;
    --verde-pastel-oscuro: #94B49F;
    --color-main: #FCF8E8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Navbar */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
}

.cabezera {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    background-color: var(--verde-pastel-claro);
}

.logo {
    width: 30%;
    position: relative;
    min-width: 120px;
}

.logo a {
    text-decoration: none;
    color: #000;
}

.logo i{
    font-size: 42px;
}

.logo h3{
    display: inline;
    position: absolute;
    top: 10px;
    left: -1px;
    color: grey;
}

.logo-img {
    position: relative;
    top: 2px;
    max-width: 150px;
}

.logo-img a img {
    width: 100%;
    border: 2px solid var(--gris-claro);
    box-shadow: -3px 4px 5px rgba(0, 0, 0, 0.3);
}

.buscador {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.buscador input {
    border: none;
    padding: 7px 10px;
    border-radius: 20px;
    width: 70%;
}

.ingreso-registro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.ingreso-registro i {
    font-size: 25px;
}
/*Icono user*/
.user-h {
    padding-right: 10px;
    position: relative;
}

.user-h:hover .dropdown-login-h {
    display: block;
}

.dropdown-login-h {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    padding: 5px 10px;
    box-shadow: 0 2px 4px #000;
    border-radius: 0 0 2px 2px;
}

.dropdown-login-h li {
    padding-top: 5px;
}

.dropdown-login-h a{
    text-decoration: none;
    color: #000;
}

.opciones-login > a{
    background-color: #ECB390;
    color: white;
    text-decoration: none;
    padding: 7px 10px;
    border-radius: 20px;
    margin-right: 5px;
    font-size: 13px;
    display: block;
}

.cart-h a{
    text-decoration: none;
    color: var(--gris-oscuro);
}

.burger-menu {
    text-align: left;
    font-size: 20px;
    width: 15%;
}

.burger-menu i{
    background-color: var(--gris-oscuro);
    color: white;
    padding: 6px; /*espacio alrededor texto*/
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px; /*bordes redondos*/
}

.menu-opciones {
    display: none;
    width: 100%;
    background-color: var(--verde-pastel-claro);
    border-top: 1px solid var(--gris-claro);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}

.opciones{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.opciones li {
    list-style-type: none;
    width: 20%;
    text-align: center;
    border-right: 1px solid var(--gris-claro);
    padding: 10px;
}

.opciones li a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 14px;
}

/*Fin del navbar */

/* FOOTER */
.logofooter{
    width: 40%;
    display: none;
    padding: 5px;
}

.logofooter i{
    font-size: 40px;
    display: none;
}

.logofooter h3{
    display: none;
    position: absolute;
    top: 19px;
    left: 11px;
    color: grey;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

footer{
    background-color: var(--verde-pastel-claro); 
    margin-top: 20px;
}

body{
    font-family: 'Montserrat', sans-serif;
    height: 10px;
}

.descripcionfooter{
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}

.listafooter{
    text-align: center;
    padding-top: 10px;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.iconosfooter{
    font-size: 30px;
    color: #0e6c0a ;
    padding: 10px 20px 15px 20px;
}

.iconos{
    display: flex;

}
/* FIN FOOTER*/
@media (min-width: 720px) {
    /* Navbar */
    /*Gestionar la posicion de cada div del header: buscador y los botones */
    .logo{
        width: 20%;
    }

    .buscador {
        width: 40%;
        margin-top: 0;
    }

    .buscador input {
        width: 100%;
    }

    .ingreso-registro{
        order: 4;
        width: 40%;
        justify-content: flex-end;
    }

    .burger-menu {
        display: none;
    }

    .menu-opciones {
        display: flex;
        flex-direction: row;
    }
    /*Fin del navbar */
    
    /*FOOTER*/
    .flexfooter{
        display: flex;
    }
    
    .logofooter{
        width: 15%;
        display: block;
        position: relative;
    }
    
    .logofooter i{
        font-size: 40px;
        display: block;
        padding-left: 10px;
    }
    
    .logofooter h3{
        display: inline;
        position: absolute;
        top: 9px;
        left: 9px;
        color: grey;
        
    }

    .cajapadre{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;
        align-items: flex-start;
        padding: 0px 0px 20px 20px;
    }

    .categoriasfooter{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: flex-start;
    }
    
    .listafooter{
        text-align: left;
    }

    .flex-container{
        flex-direction: column;
        margin-left: 30px;
    }

    .iconos{
        display: flex;
    }
    /*FIN FOOTER*/

}