:root{
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Navbar */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
}

.cabezera {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
}

.logo {
    width: 40%;
}

.logo i{
    font-size: 40px;
}

.logo h3{
    display: inline;
    position: absolute;
    top: 19px;
    left: 11px;
    color: grey;
}

.buscador {
    width: 70%;
    margin-top: 10px;
}

.buscador input {
    border: none;
    padding: 7px 10px;
    border-radius: 20px;
    width: 100%;
}

.ingreso-registro {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.ingreso-registro a{
    background-color: var(--gris-oscuro);
    color: white;
    text-decoration: none;
    padding: 7px 10px;
    border-radius: 20px;
    margin-right: 5px;
}

.ingreso-registro i {
    font-size: 25px;
}

.burger-menu {
    text-align: center;
    font-size: 20px;
    width: 100%;
}

.burger-menu i{
    background-color: var(--gris-oscuro);
    color: white;
    padding: 6px; /*espacio alrededor texto*/
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px; /*bordes redondos*/
    margin-top: 10px;
}

.menu-opciones {
    display: none;
    width: 100%;
}

.opciones{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #c8c4c4;
}

.opciones li {
    list-style-type: none;
    width: 20%;
    text-align: center;
    border-right: 1px solid var(--gris-oscuro);
    border-left: 1px solid var(--gris-oscuro);
    padding: 10px;
}

.opciones li a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

/*Fin del navbar */

/*comienzo del main*/
main{
    background-color: #D9D9D9;
    padding: 20px;
}
.noticias{
    background-color: #716D6D;
    margin: auto;
    height: 200px;
    width: 90%;
}
.carrusel{
    display: flex;
    align-items: center;
    height: 80%;
    justify-content: space-between;
}
.fa-chevron-right{
    font-size: 30px;
    padding: 10px;
}

.puntos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}
.fa-circle{
    font-size: 15px;
    padding: 5px;
}
.noticia{
    font-size: 40px;
}

.libros{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.conteiner{
    width: 70%;
    margin: 10px;
    padding: 15px;
    display: flex;
    
    align-items: center;
    border-radius: 10px;
    background-color: rgb(247, 247, 247);
}

.imagenes{
    background-color: black;
    width: 50%;
    height: 300px;
    
}
.detalles{
    padding: 10px;
    width: 50%;
}
.titulo{
    font-size: 30px;
}
.detalle{
    font-size: 20px;
    padding: 10px 0px;
}
.precio{
    font-size: 25px;
    padding: 10px 0px ;
}
/*fin del main*/

/* FOOTER */
.logofooter{
    width: 40%;
    display: none;
}

.logofooter i{
    font-size: 40px;
    display: none;
}

.logofooter h3{
    display: none;
    position: absolute;
    top: 19px;
    left: 11px;
    color: grey;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

footer{
    background-color: beige; 
}

body{
    font-family: 'Montserrat', sans-serif;
   height: 10px;
}

.descripcionfooter{
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}

.listafooter{
    text-align: center;
    padding-top: 10px;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.iconosfooter{
    font-size: 30px;
    color: #0e6c0a ;
    padding: 10px 20px 15px 20px;
}

.iconos{
    display: flex;

}
/* FIN FOOTER*/
@media (min-width: 720px) {
    /* Navbar */
    /*Gestionar la posicion de cada div del header: buscador y los botones */
    .logo:nth-child(1) {
        order: 1;
        width: 20%;
    }

    .buscador:nth-child(3) {
        order: 2;
        width: 40%;
        margin-top: 0;
    }

    .ingreso-registro:nth-child(2) {
        order: 3;
        width: 40%;
    }

    .burger-menu:nth-child(4) {
        order: 4;
        display: none;
    }

    .menu-opciones {
        display: flex;
        flex-direction: row;
    }
    /*Fin del navbar */
    /*main*/
    .libros{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    /**fin del main/
    /*FOOTER*/
    .flexfooter{
        display: flex;
    }
    
    .logofooter{
        width: 10%;
        display: block;
    }
    
    .logofooter i{
        font-size: 40px;
        display: block;
        padding-left: 10px;
    }
    
    .logofooter h3{
        display: inline;
        position: absolute;
        top: 105px;
        left: 11px;
        color: grey;
        
    }

    .cajapadre{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;
        align-items: flex-start;
        padding: 0px 0px 20px 20px;
    }

    .categoriasfooter{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: flex-start;
    }
    
    .listafooter{
        text-align: left;
    }

    .flex-container{
        flex-direction: column;
        margin-left: 30px;
    }

    .iconos{
        display: flex;
    }
    /*FIN FOOTER*/

}