<footer class="flexfooter">
    <div class="logofooter">
        <!-- <i class="fa-solid fa-book-open"></i>
        <h3>Book Market</h3> -->
        <div class="logo-img">
            <a href="/">
                <img src="/img/logo.jpeg" alt="Logo">
            </a>
        </div>
    </div>
    <div class="cajapadre">
        <p class="descripcionfooter">Categorias</p>
        <div class="categoriasfooter">
            <div class="listafooter">
                <ul>
                    <li>Aventura</li>
                    <li>Ciencia Ficcion</li>
                    <li>Fantasia</li>
                </ul>
            </div><br>
            <div class="listafooter">
                <ul>
                    <li>Literatura Juvenil</li>
                    <li>Grandes Clásicos</li>
                    <li>Históricos</li>
                </ul>
            </div><br>
            <div class="listafooter">
                <ul>
                    <li>Humor</li>
                    <li>Infantil</li>
                    <li>Manual de Dibujo</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="flex-container">
        <p class="descripcionfooter">Seguinos</p>
        <div class="iconos">
            <div class="iconosfooter"><i class="fa-brands fa-instagram"></i>
            </div>
            <div class="iconosfooter"><i class="fa-brands fa-facebook-f"></i></div>
            <div class="iconosfooter"><i class="fa-brands fa-twitter"></i></div>
        </div>

    </div>
</footer>
</body>

</html>